body{
    background-color: #F8DD99;
    font-family: Verdana;
    margin-left: 20%;
    margin-right: 20%;
}

#header{
    
    padding: 3%;
    border-radius: 15px;
    background-color: #D17427; 
    background: -moz-linear-gradient(#D68440, #CD6814); 
    background: linear-gradient(#D68440, #CD6814);
}

#header h1{
    color: white;
}

#body2{
    border-radius: 15px;
    background-color: white;
    padding: 1%;
}


#navcontainer ul
{
margin: 0;
padding: 1%;
list-style-type: none;
text-align: right;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
    border: 1px solid #EE8934;
    text-decoration: none;
    padding: .2em 1em;
    color: #ddd;
    background-color: #D68440;
}

#navcontainer ul li a:hover
{
    color: #ddd;
    background-color: #CD6814;
}

#text{
    margin-left: 3%;
    margin-right: 3%;
}

#text a{
    text-decoration: none;
}
#text a:hover{
    font-weight: bold;
}

.images{
    text-align: center;
    
}
.images img{
    width: 180px;
    height: 180px;
}

#table{
    border-collapse: collapse;
}

#table table, th, td{
    border: 1px solid black;
}

#table th{
    background-color: #F8DD99;
}

.image{
    text-align: center;
}